config/private.yml
blobs
dev_releases
releases/*.tgz
releases/**/*.tgz
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.final_builds/packages/**/*.yml
.DS_Store
.idea
*.swp
*~
*#
#*

# Bosh Deploys
vars.yml

# Golang Tools
src/github.com/client9/misspell
src/github.com/kisielk/gotool
src/github.com/mdempsky/unconvert
src/golang.org/x/tools
deployment-vars.yml
scripts/certs/
